body{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color:cadetblue;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    
}
input{
    margin-right: 1%;
}
p{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-family: cursive;
    
}
div{
    display: flex;
    justify-content: center;
}